<ul>


  <li>
    Salesman Name: <%= salesorder.salesman.name %>
  </li>
  <li>
    Customer Name: <%= salesorder.customer.name %>
  </li>
  <li>
    Salesorder Number: <%= salesorder.order_number %>
  </li>
  <li>Order List</li>
  <% salesorder.product_salesorders.each do |product_salesorder| %>
  <ul>

    <%= product_salesorder.product.name %> - <%= product_salesorder.quantity %> = $<%= product_salesorder.product.price * product_salesorder.quantity%>
  </ul>
  <%end%>
  <br />
  <ul>Total : <%= salesorder.sum %> </ul>
</ul>
