<ul>


  <li>
    Salesman Name: <%= salesorder.salesman.name %>
  </li>
  <li>
    Customer Name: <%= salesorder.customer.name %>
  </li>
  <li>
    Salesorder Number: <%= salesorder.order_number %>
  </li>
  <% salesorder.orders.each do |order| %>
  <li>
    <%= order.product %> - <%= order.quantity %>
  </li>
  <%end%>
</ul>
