<ul>


  <li>
    Customer Number: <%= customer.cus_id %>
  </li>
  <li>
    Salesman Name: <%= customer.salesman.name %>
  </li>
  <li>
    Name: <%= customer.name %>
  </li>
  <li>
    Address: <%= customer.address %>
  </li>
  <li>
    Phone Number: <%= customer.phone_number %>
  </li>





</ul>
