<h1>Customer Info</h1>

<%= render partial: "customer", locals: {customer: @customer} %>
<% if logged_in? %>
  <p><%= link_to "Add Customer", new_customer_path(@customer.salesman) %> |
     <%= link_to "Edit Customer", edit_customer_path(@customer.salesman) %> |
     <%= link_to "Delete Customer", customer_path(@customer), method: :delete %></p>
  <p><%= link_to "Add Salesorder", new_customer_salesorder_path(@customer) %></p>
<% end %>
