<ul>


  <li>
    Salesman Number: <%= salesman.emp_id %>
  </li>
  <li>
    Name: <%= salesman.name %>
  </li>
  <li>
    Title: <%= salesman.title %>
  </li>
  <li>
    Phone Number: <%= salesman.phone_number %>
  </li>
    <li>
      <h4>Customer List</h4>
        <% salesman.customers.each do |customer|%>
          <ol><%= link_to "#{customer.id}. #{customer.name}", customer_path(customer) %></ol>
        <%end%>
    </li>

</ul>
